<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to (Fake) Stack Overflow!
      </h1>
      <h2 class="subtitle">
        Ask a question, answer a question!
      </h2>
    </div>
  </div>
</section>